body {
	min-width: 1000px;
	font-family: Helvetica;
}

.btn btn-default btn-primary {
	background-color: #2950A6;
}

.header {
	width: 1000px;
	margin: auto;
}

.date {
	text-align: center;
	font-size: 20px;
	margin-top: 5px;
}

#cal-owner {
	display: inline-block;
	text-align: center;
	font-size: 20px;
	margin: 0 0 0 0;
	padding-top: 3px;
}

.cal-info {
	height: 35px;
	border: solid 1px;
	border-radius: 6px 6px 0 0;
	width: 1000px;
	margin: auto;
}

.cal-col {
  min-height: 1px;
  height: 900px;
  display: block;
  float: left;
}

.cal-col {
	width: 14.285%;
	border-left: solid 1px;
}

.time {
	height: 37.5px;
	border-bottom: dashed 1px;
	border-color: #D3D3D3;
  	padding-top: 10px;
  	padding-left: 4px;
}

.border-none {
	border-right: none;
}

.calendar {
	width: 1000px;
	margin: auto;		
    line-height: 12px;
    border-radius: 0 0 6px 6px;
    border: solid 1px;
    overflow-y: scroll;
    height: 500px;
    border-top: none;
}

.calendar-times, .calendar-days {
	display: block;
	float: left;
}

.calendar-times {
	width: 45px;
}

.calendar-days {
	width: 938px;
}

.choices {
	width: 1000px;
	margin: auto;
	margin-bottom: 20px;
}

.row > .choices > .col-md-4, .col-sm-4, .col-xs-4 {
	padding: 0 0 0 0;
}

#logout-btn {
	float: right;
}

.btn {
	border-radius: 90px;
}

.btn-primary {
	background-color: #2553A7;
}

.numeric-date {
	position: absolute;
  	z-index: 99990;
  	width: 38px;
  	margin: 3px 0 0 3px;
}

.arrow {
	float: right;
	width: 27px;
	margin-left: 10px;
	margin-top: 3px;
}

.eventSlot {
	height: 37.5px;
	border-bottom: dashed 1px;
	border-color: #D3D3D3;
}

.event, .noncreator-event, .google-event {
	display: block;
	float: right;
	border: 1px solid;
	font-family: Helvetica;
	min-height: 20px;
	width: 132px;
    cursor: pointer;
    position: relative;
    border-radius: 3px;
}

.google-event {
	background-color: rgba(62, 115, 240, 0.57) !important;
}

.footer {
	height: 50px;
}

#dialogg {
    display: none;
}

#x-button, #check-button, #delete-button, #google-button, #new-event-button, #edit-button, #remove-button {
	height: 24px;
}

#x-button, #check-button, #google-button, #new-event-button, #edit-button {
	float: right;
}

#delete-button {
	float: left;
}

#new-event-button, #edit-button {
	visibility: hidden;
}

.formatted {
	display: inline-block;
	width: 20px;
	float: left;
	margin: 0 5px 0 5px;
	padding-top: 4px;
}

.margin-group {
	margin-top: 5px;
}

.margin-group-xl {
	margin-top: 14px;
}

/* dialog styling */
#dialog-event-id {
	display: none;
}

.ui-dialog {
	z-index: 100000;
}
/* inner box of dialog */
#ui-id-1 {
	width: 300px;
	height: 1px;
}

.ui-dialog-title {
	height: 5px;
}

.ui-button-icon-primary, .ui-icon, .ui-icon-closethick, .ui-state-default {
	display: none;	
}

.form-inline, .form-group {
	display: block 
/* 	!important; */
}

.dialog-form {
	width: 250px;
	margin: auto;
}

/* contacts page stuff */

#contactsWindow {
	width: 1000px;
	height: 535px;
	border: 1px solid black;
	border-radius: 6px 6px 6px 6px;
	margin: auto;
}

#groupsWindow {
	width: 1000px;
	height: 535px;
	border: 1px solid black;
	border-radius: 6px 6px 6px 6px;
	margin: auto;
}

#addFriendBar{
	width: 700px;
	height:80px;
	margin-left: 15%;
	margin-right: 15%;
	padding-bottom: 20px;
	padding-top: 20px;
}

.form-group {
	display:inline-block;
}

#send {
	display:inline-block;
}

#addFriend {
	width:570px;
}

#sendInvite {
	display:inline-block;
	width: 120px;
}

#contactsGrid {
	width: 100%;
	height: 455px;
	border-top: 1px solid;
}

.contacts-row {
	width: 100%;
	height: 100px;
	float:left;
}

.friend {
	width: 20%;
	height: 100%;
	display:block;
	float:left;
	text-align: center;
}
.friend img {
	width: 50px;
	height: 50px;
	margin:auto;
	display:block;
	padding-top: 5px;
	padding-bottom: 5px;
}

.friend #status {
	font-style: italic;
	font-size: x-small;
}

.pending{
	width:10%;
	height:100px;
	border-bottom: 1px solid;
	text-align: center;
	float:left;
}

.scrollRow {
	width:90%;
	height: 100px;
	border-bottom: 1px solid;
	overflow: auto;
	white-space: nowrap;
}

#text {
	display:block;
}

#buttonsWrap {
	margin-left: auto;
	margin-right: auto;
	display: inline-block;
}

#refuse {
	float:left;
	height:24px;
	width:24px;
	padding:0px;
	margin-left: 62px;
}

#rem {
	float:left;
	height:24px;
	width:24px;
	padding:0px;
	margin-left:5px;
	margin-top:5px;
}

#accept {
	float:left;
	height:24px;
	width:24px;
	padding:0px;
	margin-left: 10px;
}

#tabs {
	margin-left: 235px;
	border:none;
}

#friendsTab {
	border:none;	
}

#groupsTab {
	border:none;
}

#groupName {
	width:570px;
}

#makeGroup {
	display: inline-block; 
	width: 120px;
}

#makeGroupBar {
	width: 700px;
	height:80px;
	margin-left: 15%;
	margin-right: 15%;
	padding-bottom: 20px;
	padding-top: 20px;
}

#groupsGrid {
	width: 100%;
	height: 455px;
	border-top: 1px solid;
}

.group {
	width: 20%;
	height: 100%;
	display:block;
	float:left;
	text-align: center;
}

.group img {
	width: 50px;
	height: 50px;
	margin:auto;
	display:block;
	padding-top: 5px;
	padding-bottom: 5px;
}

.group-row {
	width: 100%;
	height: 100px;
	float:left;
}

#new-group-button {
	height: 24px;
	float: right;
}

.members {
	width: 50%;
	height: 100%;
	display:block;
	float:left;
	text-align: center;
}
.members img {
	width: 50px;
	height: 50px;
	margin:auto;
	display:block;
	padding-top: 5px;
	padding-bottom: 5px;
}

#membersForm {
	max-height: 250px !important;
	overflow: auto;
}

#new-members-button {
	height: 24px;
	float: left;
	margin-top: 9px;
	margin-left: 3px;
}

.addMembersWrap {
	width: 252px;
	height: 40px;
}

#membersToAdd {
	float: left;
	width: 224px;
}
/*dialog inner styling */
#duration {
	width: 55px;
}

#dialog-time {
	width: 93px;
}

#descrip {
	resize: none;
	width: 250px;
}

#title {
	width: 250px;
	margin: auto;
	box-shadow: none;
	border: none;
	border-bottom: 1px black solid;
}

.has-error {
	border-color: #a94442;
	box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
}

#logoutbutton {
	float: right;
}

.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {
	  border: 1px solid black;
	  border-bottom-color: transparent;
}

.border-box {
	height: 100px;
	border-radius: 15px;
	border: 5px solid black;
}

td {
	text-align: center;
}

.no-border { 
	border-top: none !important;
}