body {
	min-width: 1000px;
	font-family: Helvetica;
}

.header {
	width: 1000px;
	margin: auto;
}

.date {
	text-align: center;
	font-size: 20px;
	margin-top: 5px;
}

.cal-info {
	height: 35px;
	border: solid 1px;
	border-radius: 6px 6px 0 0;
	width: 1000px;
	margin: auto;
}

.cal-col {
  min-height: 1px;
  height: 900px;
  display: block;
  float: left;
}

.cal-col {
	width: 14.285%;
	border-left: solid 1px;
}

.time {
	height: 37.5px;
	border-bottom: dashed 1px;
	border-color: #D3D3D3;
  	padding-top: 10px;
  	padding-left: 4px;
}

.border-none {
	border-right: none;
}

.calendar {
	width: 1000px;
	margin: auto;		
    line-height: 1.33;
    border-radius: 0 0 6px 6px;
    border: solid 1px;
    overflow-y: scroll;
    height: 500px;
    border-top: none;
}

.calendar-times, .calendar-days {
	display: block;
	float: left;
}

.calendar-times {
	width: 45px;
}

.calendar-days {
	width: 938px;
}

.choices {
	width: 1000px;
	margin: auto;
	margin-bottom: 20px;
}

#logout-btn {
	float: right;
}

.btn {
	border-radius: 90px;
}

.btn-primary {
	background-color: #2553A7;
}

.numeric-date {
	position: absolute;
  	z-index: 2;
  	width: 38px;
  	margin: 3px 0 0 3px;
}

.arrow {
	float: right;
	width: 27px;
	margin-left: 10px;
	margin-top: 3px;
}

.eventSlot {
	height: 37.5px;
	border-bottom: dashed 1px;
	border-color: #D3D3D3;
}

.event {
	display: block;
	float: right;
	border: 1px solid;
	font-family: Helvetica;
	min-height: 20px;
	width: 132px;
    cursor: pointer;
}

.google-event {
	background-color: rgba(62, 115, 240, 0.57);
	display: block;
	float: right;
	border: 1px solid;
	font-family: Helvetica;
	min-height: 20px;
	width: 132px;
    cursor: pointer;
}

.footer {
	height: 50px;
}

#dialogg {
    display: none;
}

#x-button, #check-button, #delete-button, #google-button, #new-event-button {
	height: 30px;
}

#x-button, #check-button, #google-button, #new-event-button {
	float: right;
}

#delete-button {
	float: left;
}

/* dialog styling */
.ui-dialog, .ui-dialog-title, .ui-state-default, .ui-widget-content, .ui-state-default, .ui-resizable {
	display: none;
	border: none;
	resize: none;
}

.ui-draggable .ui-dialog-titlebar {
	border: none;
}

.ui-dialog .ui-dialog-content {
	padding: 2px 2px;
}

.ui-widget-header {
	background: #00000;
	height: 2px;
}

/* inner box of dialog */
#ui-id-1 {
	width: 300px;
}


/* contacts page stuff */

#contactsWindow {
	width: 1000px;
	height: 535px;
	border: solid 1px;
	border-radius: 6px 6px 6px 6px;
	margin: auto;
}

#addFriendBar{
	width: 700px;
	height:80px;
	margin-left: 15%;
	margin-right: 15%;
	padding-bottom: 20px;
	padding-top: 20px;
}

#form_inline {
	width:100%;
	margin-left: auto;
	margin-right: auto;
}

#addFriend {
	width:570px;
}

#sendInvite {
	width: 120px;
}

#contactsGrid {
	width: 100%;
	height: 455px;
	border-top: 1px solid;
}

.contacts-row {
	width: 100%;
	height: 20%;
	float:left;
	border-left: : 1px solid;
}

.friend {
	width: 200px;
	height: 100%;
	display:block;
	float:left;
	text-align: center;
}
.friend img {
	width: 50px;
	height: 50px;
	margin:auto;
	display:block;
	padding-top: 10px;
	padding-bottom: 5px;
}

.friend #status {
	font-style: italic;
	font-size: x-small;
}

#pending{
	width:10%;
	height:20%;
	border-bottom: 1px solid;
	text-align: center;
	float:left;
}

#scrollRow {
	width:90%;
	height: 20%;
	border-bottom: 1px solid;
	overflow: auto;
	white-space: nowrap;
}

#text {
	display:block;
}

#buttonsWrap {
	margin-left: auto;
	margin-right: auto;
	display: inline-block;
}

#refuse {
	float:left;
	height:25px;
	width:25px;
	padding:0px;
	margin-left: auto;
	margin-right: auto;
}

#accept {
	float:left;
	height:25px;
	width:25px;
	padding:0px;
	margin-left: auto;
	margin-right: auto;
}

/*dialog inner styling */
#duration {
	width: 70px;
}

#dialog-time {
	width: 93px;
}

#descrip {
	resize: none;
	width: 260px;
}

#title {
	width: 250px;
	margin: auto;
	box-shadow: none;
	border: none;
	border-bottom: 1px black solid;
}